@import url('https://fonts.googleapis.com/css2?family=Freehand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
                                          
body{
  background-color: #74F38F;
}
:root {
  /* fonts */
  --font-poppins: Roboto;
  --font-freehand: Freehand;
}


/* HOME */
.home-container{
  display:flex;
}
.details{
  margin-left: 150px;
}
.info-msg{
font-family:monospac; 
 color:#0c2461; 
  text-align:center;
  font-size: 29px;
  max-width: 1400px;
  padding-top: 50px;
  padding-left: 100px;
}
.info-img{
  width: 400px;
  height:470px;
   border-radius:100px;
  margin-top :0px;
  margin-right: 100px;
}
.btn{
  margin-top: 10px;
  background-color:#0c2461; 
  border-radius:88px;
   font-size:30px; 
   color:white;
    width:400px;
    height: 60px;
}
.btn:hover{
  background-color:#6275e4;
}






/* EDU */
.edu{
  color:#f5f5f5;
 background-color:#0c2461;
   border-color: #6ab04c;
   border-radius: 30px;
   border-style: solid;
   border-width: 6px;
   width:350px;
   height: 350px;
 padding-left: 20px;
 text-decoration: none;
}
.edu:active{
background-color:#6275e4;
}
.edu-div{
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
 margin-bottom: 20px;
}
.title-edu{
  color:#0c2461;
  padding-left:500px;
   padding-bottom:10px;
    padding-top:40px;
}



/* WORK */
 .work{
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
 }
 .title-work{
  color:#0c2461;
  padding-left:675px;
    padding-top:5px;
}
 /* .work:active{
  color: #000;
 } */


/* CONTACT */
.title-contact{
  color:#0c2461;
  padding-left:600px;
    padding-top:25px;
    max-width:1500px;
}
.connects{
  display: flex;
  justify-content: space-between;
}
.connect2{
  color:white; font-size: 75px;
  margin-left:90px
}




@media only screen and (max-width: 600px) { /* Adjust breakpoint as needed for phones */
  .home-container {
    flex-direction: column-reverse; /* Reverse flex direction for phones */
  }
  .info-msg {
    font-size: 35px;
    width: 370px;
    text-align:unset;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.3;
    padding-left:5px;
    padding-top:60px;
    padding-bottom:15px
  }
  .info-img {
    width: 250px; /* Adjust max-width for phones */
    border-radius: 100%;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .btn{
    background-color:#0c2461; 
    border-radius:88px;
     font-size:20px; 
     color:white;
      width:200px;
      height:50px;
      margin-left:80px;
  }
  .details{ 
margin-left: 10px;
  } 
  .edu-div{
flex-direction: column;
  }
  .title-edu{
    color:#0c2461;
    padding-left:60px;
     padding-bottom:10px;
      padding-top:40px;
  }
  .edu{
    margin-left: 18px;
    margin-top:60px;
    color:#f5f5f5;
   background-color:#0c2461;
     border-color: #6ab04c;
     border-radius: 30px;
     border-style: solid;
     border-width: 6px;
     width:300px;
     height: 300px;
   padding-left: 25px;
  }
  .title-work{
    color:#0c2461;
    padding-left:110px;
      padding-top:45px;
  }
.connects{
  flex-direction:column-reverse;
  margin-left: 20px;
}
.connect2{
  margin-left: 0px;
  margin-TOP: 50px;
}
.title-contact{
  color:#0c2461;
  padding-left:50px;
    padding-top:25px;
}
}



@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 750px;
    top: 550px;
  }
  100% {
    left: 750px;
    top: 0;
  }
}
.stage {
  border-radius: 6px;
  position: relative;
}
.stage .ball {
   animation: slide 2s ease-in-out alternate;
}

.ball {
  background:#0c2461;
  border-radius: 50%;
  height: 40px;
  position: absolute;
  width: 40px;
  margin-left:70px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}




