@import url('https://fonts.googleapis.com/css2?family=Freehand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
                                          
body{
  background-color:#74F38F;
}
:root {
  /* fonts */
  --font-poppins: Roboto;
  --font-freehand: Freehand;
}



/* HOME */
.name1{
  
  color:white;
   font-size: 300px; 
   margin-left:15px;
}
.name2{
  color:white;
  font-size: 300px; 
}
.name3{
  color:white;
  font-size: 300px; 
   font-style:oblique;
}


 svg {
  margin-top: 150px;
  font-family: 'Russo One', sans-serif;
  border-radius: 6px;
  position: relative;
  display:flex;
   justify-content:center; 
   margin-right: 100px;
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: white;
}
@keyframes stroke {
  0%   {
    fill: #0c2461; stroke: white;
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: #0c2461; stroke:white; }
  80%  {fill: #0c2461; stroke: white; stroke-width: 3; }
  100% {
    fill: white; stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}



/* About */
.about-container{
  display:flex;
}
.details{
  margin-left: 100px;
}
.info-msg{
font-family:monospac; 
 color:#0c2461; 
  text-align:center;
  font-size: 29px;
  max-width: 1000px;
  padding-top: 5px;
  padding-left: 100px;
}
.info-img{
  width: 350px;
  height:400px;
   border-radius:100px;
  margin-top :20px;
  margin-right: 100px;
}
.title-about{
  color:#0c2461;
   padding-bottom:10px;
   padding-top:20px;
}
.btn{
  margin-top: 10px;
  background-color:#0c2461; 
  border-radius:88px;
   font-size:30px; 
   color:white;
    width:350px;
    height: 60px;
}
.btn:hover{
  background-color:#6275e4;
}






/* EDU */
.edu{
  color:#f5f5f5;
 background-color:#0c2461;
   border-color: white;
   border-radius: 30px;
   border-style: solid;
   border-width: 3px;
   width:350px;
   height: 350px;
 padding-left: 20px;
 text-decoration: none;
}
.edu:active{
background-color:#6275e4;
}
.edu-div{
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
 margin-bottom: 20px;
}
.title-edu{
  color:#0c2461;
  padding-left:405px;
   padding-bottom:30px;
    padding-top:40px;
}



/* WORK */
 .work{
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
 }
 .title-work{
  color:#0c2461;
  padding-left:600px;
    padding-top:5px;
}
 


/* CONTACT */
.title-contact{
  color:#0c2461;
  text-align: center;
  padding-top:20px;
    max-width:1500px;
padding-bottom:90px;
}
.connect{
  padding-left:710px;
}



@media only screen and (max-width: 600px) { /* Adjust breakpoint as needed for phones */
  svg{
    padding: 120px 0 120px 0;
    display: block;
    margin-right:30px;
  }
  .nav-a{
    display:flex;
   justify-content:center;
  
  }
  .home-container {
    flex-direction: column; /* Reverse flex direction for phones */
  }
  .about-container{
   flex-direction: column;
   align-items: center;
  }
  .title-about{
    padding-left:0px;
    text-decoration: underline;
  }
  .info-msg {
    font-size: 35px;
    width: 330px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.3;
    padding-top:60px;
    padding-bottom:15px;
    padding-left: 0px;
    padding: 0 auto 0 auto;
  }
  .info-img {
    width: 250px; /* Adjust max-width for phones */
    border-radius: 100%;
    height: 300px;
    margin-top: 50px;
    margin: 50px auto 0; 
    display: block; 
  }
  .btn{
    background-color:#0c2461; 
    border-radius:88px;
     font-size:20px; 
     color:white;
      width:200px;
      height:50px;
      max-width: 600px;
      padding-left:0px;
      margin: 5px auto 50px auto;
    display: block; 
  }
  .details{ 
margin-left: 10px;
  } 
  .edu-div{
flex-direction: column;
  }
  .title-edu{
    color:#0c2461;
    padding-left:20px;
      padding-top:90px;
      text-decoration: underline;
  }
  .edu{
    color:#f5f5f5;
   background-color:#0c2461;
     border-color: #74F38F;
     border-radius: 30px;
     border-style: solid;
     border-width: 6px;
     width:280px;
     height: 300px;
     margin: 0 auto 80px auto;
  }
  .title-work{
    color:#0c2461;
 padding-left: 0px;
 text-align: center;
      padding-top:90px;
      text-decoration: underline;
  }
  .work{
    margin-bottom: 50px;
  }

.title-contact{
  color:#0c2461;
    padding-top:70px;
    text-decoration: underline;
    padding-bottom:0px;
}

.connect{
 margin-left:0px;
 padding-left: 0px;
}
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 750px;
    top: 550px;
  }
  100% {
    left: 750px;
    top: 0;
  }
}
.stage {
  border-radius: 6px;
  position: relative;
}
.stage .ball {
   animation: slide 2s ease-in-out alternate;
}

.ball {
  background:#0c2461;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  margin-left:70px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  margin-top: 30px;
}


.nav-a{
  text-decoration:none;
}

.nav-btn{
  background-color: #0c2461;
  color:white;
  font-size: 50px;
border-radius:100%;
height: 60px;
width:60px;
border-color: white;
margin-bottom: 10px;
}
